/* ===========All Common CSS============ */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  /* background-color: var(--gray); */
}
:root {
  --gray: #c4c4c4;
  --white: white;
  --garo-gray: #c4c4c4;
}
a {
  text-decoration: none;
  display: inline-block;
  color: var(--white);
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  display: inline-block;
  border: none;
}
span {
  display: inline-block;
}

/* ==============Banner section ========== */

.banner {
  width: 1920px;
  height: 1020px;
  background-image: url(./images/bg.png);
  background-size: cover;
  /* position: absolute; */
  padding-top: 55px;
}

.banner .nav-bar {
  height: 60px;
  width: 1357px;
  margin: 0px 290px 0px 272px;
  background: transparent;
  display: flex;
  gap: 731.33px;
  align-items: center;
  justify-content: left;
}
.banner .nav-bar .logo img {
  border-radius: 100px;
}
.banner .nav-bar ul {
  width: 637px;
  height: 46px;
  align-items: center;
  display: flex;
  gap: 8px;
}
.banner .nav-bar ul li {
  width: 147px;
  align-items: center;
}
.banner .nav-bar ul li a {
  font-size: 17px;
  font-weight: 700;
  background: transparent;
}

.banner .banner_body {
  height: 877px;
  width: 1357px;
  margin: 0px 290px 0px 232px;
  /* border: 5px solid red; */
  font-family: "Raleway", sans-serif;
  display: flex;
  gap: 50px;
}
.banner .banner_body .banner_text {
  margin-top: 206px;
  /* border: 2px solid red; */
}
.banner .banner_body .banner_text .head_text {
  width: 171px;
  height: 58px;
  font-size: 35px;
  font-weight: 700;
  line-height: auto;
}
.banner .banner_body .banner_text .name_text {
  width: 592px;
  height: 105px;
  font-size: 50px;
  font-weight: 700;
  line-height: auto;
  margin: 54px 0px 0px 10px;
}
.banner .banner_body .banner_text .bio_text {
  font-size: 25px;
  font-weight: 800;
  line-height: auto;
  margin-left: 10px;
  opacity: 70%;
}
.banner .banner_body .banner_text .gits {
  margin-top: 126px;
  /* margin-left: 15px; */
  display: flex;
  gap: 31px;
}
.banner .banner_body .banner_text .gits .git {
  width: 61px;
  height: 56px;
  background-color: var(--garo-gray);
}
.banner .banner_body .banner_text .gits .git img {
  padding: 10px;
}
.banner .banner_body .picture img {
  width: 783px;
  height: 860px;
  margin-top: 50px;
  /* border: 5px solid red; */
}

/* ======================== card section ========== */

.Card_section {
  height: 1000px;
  width: 1900px;
  color: black;
   margin-top: 100px;
}
.Card_section .card_container{
    height: 900px;
    width: 1520px;
    margin: 0px 200px 0px 200px;

}

.Card_section .card_container .section_head h1 {
  text-align: center;
  margin-bottom: 20px;
}

.Card_section .card_container .section_head .head_para {
  opacity: 70%;
  text-align: center;
}
.Card_section  .cards {
  width: 1520px;
  height: 1180px;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}
.Card_section  .cards .card img{
    width: 450px;
    height: 230px;
}
.Card_section  .cards .card {
  height: 540px;
  width: 450px;
  border: 1px solid #f3eeeebb;
  border-radius: 15px;
  overflow: hidden;
}

.Card_section  .cards .card .card_body {
  /* margin-top: 40px; */
  padding: 40px 10px 20px 20px;
}

.Card_section  .cards .card .card_body .head_text {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
}

.Card_section  .cards .card .card_body .para_text {
  font-size: 15px;
  opacity: 70%;
  line-height: 22px;
}

.sub_btn {
  height: 80px;
  width: 300px;
  /* border: 2px solid red; */
  margin: 10px 0px 10px 0px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.sub_btn .frame {
  height: 25px;
  width: 60px;
  border-radius: 10px;
  background-color: rgba(196, 194, 192, 0.5);
  color: black;
  
  text-align: center;
  
}

.sub_btn .frame_text {
   font-size: 16px;
  font-weight: 600;
  height: 15px;
  width: 50px;
  margin: 5px 5px 5px 5px ;
}

.btns {
  height: 50px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btns .btn1 {
  height: 30px;
  width: 160px;
  border-radius: 20px;
  background: transparent;
  background-color: black;
  font-size: 16px;
  font-weight: 500;
}
.btns .btn2 {
  height: 30px;
  width: 160px;
  border-radius: 20px;
  background: transparent;
  background-color: white;
  border: 1px solid #f3eeee;
   font-size: 16px;
  font-weight: 500;
 
}
.btns .btn2 a{
     color: black;
}
.Card_section .card_container .view{
    width: 1520px;
    text-align: center;
}
.Card_section .card_container .view button{
height: 50px;
  width: 180px;
  margin: 50px 0 0 0;
  border-radius: 15px;
  background: transparent;
  border: 1px solid #cacaca;
   font-size: 16px;
  font-weight: 600;
  
}
.Card_section .card_container .view button a{
     color: black;
}