/* ===========All Common CSS============ */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  /* background-color: var(--gray); */
}
:root {
  --gray: #c4c4c4;
  --white: white;
  --garo-gray: #c4c4c4;
}
a {
  text-decoration: none;
  display: inline-block;
  color: var(--white);
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  display: inline-block;
  border: none;
}
span {
  display: inline-block;
}

/* ==============Banner section ========== */

.banner {
  width: 1900px;
  height: 1020px;
  background-image: url(./images/bg.png);
  background-size: cover;
  /* position: absolute; */
  padding-top: 55px;
}

.banner .nav-bar {
  height: 60px;
  width: 1357px;
  margin: 0px 290px 0px 272px;
  background: transparent;
  display: flex;
  gap: 731.33px;
  align-items: center;
  justify-content: left;
}
.banner .nav-bar .logo img {
  border-radius: 100px;
}
.banner .nav-bar ul {
  width: 637px;
  height: 46px;
  align-items: center;
  display: flex;
  gap: 8px;
}
.banner .nav-bar ul li {
  width: 147px;
  align-items: center;
}
.banner .nav-bar ul li a {
  font-size: 17px;
  font-weight: 700;
  background: transparent;
}

.banner .banner_body {
  height: 877px;
  width: 1357px;
  margin: 0px 290px 0px 232px;
  /* border: 5px solid red; */
  font-family: "Raleway", sans-serif;
  display: flex;
  gap: 50px;
}
.banner .banner_body .banner_text {
  margin-top: 206px;
  /* border: 2px solid red; */
}
.banner .banner_body .banner_text .head_text {
  width: 171px;
  height: 58px;
  font-size: 35px;
  font-weight: 700;
  line-height: auto;
}
.banner .banner_body .banner_text .name_text {
  width: 660px;
  height: 85px;
  font-size: 56px;
  font-weight: 700;
  line-height: auto;
  margin: 54px 0px 0px 0px;
  /* border: 2px solid red; */
}
.banner .banner_body .banner_text .bio_text {
  font-size: 25px;
  font-weight: 800;
  line-height: auto;
  margin-left: 10px;
  opacity: 70%;
}
.banner .banner_body .banner_text .gits {
  margin-top: 126px;
  /* margin-left: 15px; */
  display: flex;
  gap: 31px;
}
.banner .banner_body .banner_text .gits .git {
  width: 61px;
  height: 56px;
  background-color: var(--garo-gray);
}
.banner .banner_body .banner_text .gits .git img {
  padding: 10px;
}
.banner .banner_body .picture img {
  width: 820px;
  height: 913px;
  margin-top: 50px;
  /* border: 5px solid red; */
}
/* ===============About Me ================= */
.about {
  width: 1500;
  height: 800px;
  margin: 200px 200px 0 200px;
  justify-content: center;
  text-align: center;
}

.about .about_head h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}
.about .about_head p {
  font-size: 16px;
  font-weight: 400;
  opacity: 70%;
}
.about_body {
  width: 1500px;
  height: 1000px;
  margin-top: 50px;
  display: flex;
  gap: 100px;
  /* border: 2px solid red; */
  justify-content: center;
}
.about .about_body .know {
  height: 800px;
  width: 500px;
  text-align: left;
}
.about .about_body .know h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}
.about .about_body .know p {
  color: #0a01027a;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 40px;
}

.skills {
  width: 650px;
  height: 800px;
  /* border: 2px solid red; */
  text-align: left;
}

.boxes {
  width: 650px;
  height: 300px;
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}
.boxes .box {
  height: 140px;
  width: 100px;
  justify-content: center;
  text-align: center;
  gap: 10px;

  /* border: 2px solid red; */
}
.boxes .box .icon img {
  height: 80px;
}
/* ======================== card section ========== */

.Card_section {
  height: 1000px;
  width: 1900px;
  color: black;
  margin-top: 100px;
  position: relative;
}
.Card_section .card_container {
  height: 900px;
  width: 1520px;
  margin: 0px 200px 0px 200px;
}

.Card_section .card_container .section_head h3 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
}

.Card_section .card_container .section_head .head_para {
  opacity: 70%;
  text-align: center;
}
.Card_section .cards {
  width: 1520px;
  height: 1180px;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}
.Card_section .cards .card img {
  width: 450px;
  height: 230px;
}
.Card_section .cards .card {
  height: 540px;
  width: 450px;
  border: 1px solid #f3eeeebb;
  border-radius: 15px;
  overflow: hidden;
}

.Card_section .cards .card .card_body {
  /* margin-top: 40px; */
  padding: 40px 10px 20px 20px;
}

.Card_section .cards .card .card_body .head_text {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
}

.Card_section .cards .card .card_body .para_text {
  font-size: 15px;
  opacity: 70%;
  line-height: 22px;
}

.sub_btn {
  height: 80px;
  width: 300px;
  /* border: 2px solid red; */
  margin: 10px 0px 10px 0px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.sub_btn .frame {
  height: 25px;
  width: 60px;
  border-radius: 10px;
  background-color: rgba(196, 194, 192, 0.5);
  color: black;

  text-align: center;
}

.sub_btn .frame_text {
  font-size: 16px;
  font-weight: 600;
  height: 15px;
  width: 50px;
  margin: 5px 5px 5px 5px;
}

.btns {
  height: 50px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btns .btn1 {
  height: 30px;
  width: 160px;
  border-radius: 20px;
  background: transparent;
  background-color: black;
  font-size: 16px;
  font-weight: 500;
}
.btns .btn2 {
  height: 30px;
  width: 160px;
  border-radius: 20px;
  background: transparent;
  background-color: white;
  border: 1px solid #f3eeee;
  font-size: 16px;
  font-weight: 500;
}
.btns .btn2 a {
  color: black;
}
.Card_section .card_container .view {
  width: 1520px;
  text-align: center;
}
.Card_section .card_container .view button {
  height: 50px;
  width: 180px;
  margin: 50px 0 0 0;
  border-radius: 15px;
  background: transparent;
  border: 1px solid #cacaca;
  font-size: 16px;
  font-weight: 600;
}
.Card_section .card_container .view button a {
  color: black;
}

/* ========= Get in Touch =========== */
.get_in_touch {
  height: 800px;
  width: 1900px;
  justify-content: center;
  position: relative;
  margin-top: 550px;
}
.touch_container {
  height: 1000px;
  width: 1500px;
  margin: 30px 200px 30px 200px;
  /* border: 2px solid red; */
  /* justify-content: center;
        align-items: center; */
}

.touch_container .touch_container_head .touch_head h3 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.touch_container .touch_container_head .touch_para {
  opacity: 70%;
  text-align: center;
  font-size: 20px;
}
.touch_container_body {
  width: 1500px;
  /* border: 2px solid red; */
  margin-top: 50px;
  display: flex;
  gap: 100px;
  justify-content: center;
  /* gap: 10px; */
}
.form_section {
  width: 520px;
  height: 450px;
  background-color: white;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
}
.form_section form {
  width: 300px;
  padding: 20px;
}
.form_section form input {
  border: none;
  border-radius: 20px;
  padding: 0 0 0 15px;
  width: 450px;
  height: 40px;
  background-color: #f5f5f5;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

button {
  width: 450px;
  height: 50px;
  background-color: black;
  border-radius: 10px;
}
button a {
  color: white;
  text-decoration: none;
}
.connect_section {
  height: 600px;
  width: 500px;
}

.connect {
  width: 450px;
  height: 250px;
  padding: 30px 30px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 30px;
}
.connect h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}
.connect p {
  width: 450px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 35px;

  color: #868484;
}
.connect h4 {
  font-size: 16px;
  font-weight: 400;
  color: #868484;
  margin-bottom: 17px;
}
.connect .mail {
  color: black;
  font-size: 16px;
  font-weight: 400;
}
.follow_me {
  width: 450px;
  height: 170px;
  padding: 30px 30px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 30px;
}
.follow_me h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}
.follow_me .mini_boxes {
  width: 450px;
  height: 100px;
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.follow_me .mini_boxes .mini_box {
  width: 190px;
  height: 40px;
  text-align: left;
  align-items: center;
  display: flex;
  border: 1px solid #dbd4d4;
  font-size: 18px;
  border-radius: 10px;
  padding-left: 10px;
  gap: 10px;
}

/* ================= Footer ===========  */
.Footer {
  width: 1900px;
  height: 326px;
  background-color: #1a1a1a;
  color: white;
}
.Footer .footer_container {
  height: 188px;
  width: 380px;
  /* border: 2px solid red; */
  text-align: center;

  align-items: center;
  justify-content: center;
  padding: 69px 754px;
}
.Footer .footer_container .back {
  font-size: 15px;
  font-weight: 600;
}
.Footer .footer_container .icons {
  width: 204px;
  height: 30px;
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  /* border: 2px solid red; */
  margin: 0 auto;
}
.Footer .footer_container .rights {
  margin-top: 44px;
}
